
.jumbotron
  %h1 Calibration

  %p.lead Calibrate your devices by lining up the image so it is continuous across all displays

  %p
    %a#calibrate.btn.btn-lg.btn-primary(href="#") Calibrate Displays &raquo;


